html.sap-desktop ::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    background-color: #f7f7f7;
}
.dbIcon {
        	margin-left:570px;
        	
        }
        
.tileClass {
        	margin-left:25px;
        	margin-top:25px;
        	margin-bottom:25px;
        	/* background-size:cover !important; */
        	background-repeat:no-repeat;
   	        /* height: 404px;
    		width: 100%; */
        }

.HomeDeatilText {

    max-height: 192px;
    font-size: 23px;
    font-family: "Times New Roman", Times, serif;
    
}
        
.kc_fab_main_btn{
  background-color:#F44336;
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.feedbackClass {
    height: 20px;
    width: 20px;
    padding: 4px;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    display: block;
    border-radius: 20px;
}
.txt_subhead_blue
{
	margin: 0px 0px 5px;
    padding: 0px;
    font-weight: bold;
    font-size: 18px;
    vertical-align: top;
    color: rgb(204, 51, 0);
    font-family: arial;
    text-align: left;
}
.main-content
{
  font-family: arial !important;
  font-size: 13px !important;
  margin: 5px !important;
  padding:5px !important;
  color:#506358 !important;
 line-height: 24px !important;
    text-align: justify !important;
  font-weight: normal !important;
}
.page-header .sapMPageHeader
{
  display: none !important;
}
.header-img
{
  margin:0 auto !important;
  display: block !important;
}