<template data-controller-name="com.test.Controller.Abhishekam">
	<div data-sap-ui-type="sap.m.Page" id="idAbhishekamDetailView" data-title="Abhishekam Seva">
		<div data-sap-ui-aggregation="content">
		
			<div id="mainContent1">
      
      <table width="950" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td height="25" bgcolor="#999999"><div align="center"><strong><a name="sevalist" id="sevalist"></a>SEVA DETAILS</strong></div></td>
        </tr>
      </tbody></table>
      <p>Sevas are conducted at different place inside the Mutt. &nbsp;Devotees   who wants to perform Seva are requested to approach the Seva counter(Office)  or get the assistance from the Administration Office located   inside the Mutt complex.</p>
       <table width="90%" border="1" cellpadding="0" cellspacing="0" align="center" class="default">

	<tbody><tr>
	  <td colspan="3" style="color:red" align="center">Please always check the Mutt for latest Seva List.</td>
	</tr>
	<tr>
	  <td colspan="3" style="color:red" align="center">[This list is as per Mutt's Dec 2009 Seva List]</td>
	</tr>
	<tr>
	  <td colspan="3">&nbsp;</td>
	</tr>
	<tr>
	  <td colspan="3" align="center"><b>SEVA LIST (Dec 2009)</b> </td>
	</tr>
	<tr><td colspan="3">&nbsp;</td>
	</tr>
		<tr>
			<td align="center" nowrap=""><b>SL.NO</b></td>
			<td align="center" nowrap=""><b>NAME OF THE SEVAS</b></td>
			<td align="center" nowrap=""><b>RATE(in Indian Rupees)</b></td>
		 </tr>

		 <tr>
			<td>1</td>
			<td>Karpoora Arathi</td>
		   <td align="right">51-00</td>
		 </tr>

		 <tr>
			<td>2</td>
			<td>Pooja  Kanika </td>
		   <td align="right">101-00</td>
		 </tr>

		 <tr>
			<td>3</td>
			<td>Vastra Kanika (Iyyari)</td>
			<td align="right">1100-00</td>
		 </tr>
	  
		  <tr>
			<td>4</td>
			<td>Hannukai Samarpane</td>
			<td align="right">201-00</td>
		 </tr>

		 <tr>
			<td>5</td>
			<td>Bilva Pathrarchana</td>
		   <td align="right">250-00</td>
		 </tr>

		  <tr>
			<td>6</td>
			<td>Theertha Bottle</td>
			<td align="right">100-00</td>
		 </tr>
		  


		 <tr>
			<td>7</td>
			<td>Panchamrita</td>
			<td align="right">500-00</td>
		 </tr>

		  <tr>
			<td>8</td>
			<td> Trikala Naivedya</td>
			<td align="right">501-00</td>
		 </tr>
	  
		 <tr>
			<td>9</td>
			<td>Nandadeepa - 1 month</td>
		   <td align="right">1500-00</td>
		 </tr>
	   
		 <tr>
			<td>10</td>
			<td>Ghee Lamp</td>
		   <td align="right">101-00</td>
		 </tr>
	   
		 <tr>
			<td>11</td>
			<td>Shatha Rudrabhisheka</td>
		   <td align="right">501-00 </td>
		 </tr>

		 <tr>
			<td>12</td>
			<td>Namakarana Kanike</td>
		   <td align="right">1000-00</td>
		 </tr>

		 <tr>
			<td>13</td>
			<td>Javala (tonsure  ceremony) (first hair cut) </td>
		   <td align="right">1000-00</td>
		 </tr>

		 <tr>
			<td>14</td>
			<td>Sahasranama  Pada Pooja</td>
		   <td align="right">2500-00</td>
		 </tr>
	  

		<tr>
			<td>15</td>
			<td>Annadana to 108 Devotees  &nbsp;</td>
		  <td align="right">5001-00</td>
		 </tr>
	 
		 <tr>
			<td>16</td>
			<td>Annadana to 51 Devotees  &nbsp;</td>
		   <td align="right">2501-00</td>
		 </tr>

		 <tr>
			<td>17</td>
			<td>Annadana to 21 Devotees  &nbsp;</td>
		   <td align="right">1001-00</td>
		 </tr>

		 <tr>
			<td>18</td>
			<td>Vahana Pooja - Two Wheeler</td>
		   <td align="right">21-00</td>
		 </tr>

		 <tr>
			<td>19</td>
			<td>Vahana Pooja - Three Wheeler</td>
		   <td align="right">51-00</td>
		 </tr>
	  
		 <tr>
			<td>20</td>
			<td>Vahana Pooja - Four Wheeler</td>
		   <td align="right">101-00</td>
		 </tr>
	 
		  <tr>
			<td>21</td>
			<td nowrap="">Srigalavarinda Gaddugege Mahapooja and Ashirvada</td>
			<td align="right">5001-00</td>
		 </tr>
	 
		 <tr>
			<td>22</td>
			<td>Tulabhara of Srigalu including Vastra Kanika (Iyyari)</td>
		   <td align="right">25,000-00</td>
		 </tr>
	 
		 <tr>
			<td>23</td>
			<td>&nbsp;</td>
		   <td align="right">&nbsp;</td>
		 </tr>

		  <tr>
			<td>24</td>
			<td>&nbsp;</td>
			<td align="right">&nbsp;</td>
		 </tr>
	 
		  <tr>
			<td>25</td>
			<td>&nbsp;</td>
			<td align="right">&nbsp;</td>
		 </tr>
	 
		  <tr>
			<td>26</td>
			<td>&nbsp;</td>
			<td align="right">&nbsp;</td>
		 </tr>
	  
	 
		  <tr>
			<td>27</td>
			<td>&nbsp;</td>
			<td align="right">&nbsp;</td>
		  </tr>

		  <tr>
			<td>28</td>
			<td>&nbsp;</td>
			<td align="right">&nbsp;</td>
		  </tr>
	 </tbody></table>

      <p class="style6">NOTE:</p>
       <ol class="style6">
         <li><strong>
         One day prior notice is required  for offering special sevas(above Rs. 50/-) like Rudrabhishek, Srigala Pada pooja, Maha pooja etc.</strong> The       devotee who is interested and serious of these pooja, he has to come to the       Mutt office a day earlier and obtain the receipts. Next day pooja       commences in the morning  6.00 A.M &nbsp;</li>
         <li><strong>
         Maha pooja(Srigalavarinda Gaddugege Maha pooja), Srigala Pada pooja, Appaji Toolabhara perfomed only on Amavassey at mugalkhod mutt and on Hunnime at Jidga mutt.         </strong></li>
         <li><strong>For Srigala Pada Pooja and Toolabhara Seva timings please contact Enquiry Office of respective Mutt.</strong></li>
         <li><strong>For Sravana Masa Maha Rudrabhishek and Srigala Istta Linga pooja Details cantact Guru (mob:9980032009)</strong></li>
         <li><strong>Management reserve the  rights to change rates without prior notice.</strong></li>
       </ol>
       <p>&nbsp;</p>
      <table width="950" border="0" cellspacing="0" cellpadding="0">
         <tbody><tr>
           <td width="10">&nbsp;</td>
           <td width="911" height="25" bgcolor="#999999"><div align="center"><strong><a name="enquiry" id="enquiry"></a>ENQUIRY/ADMINISTRATOR OFFICE</strong></div></td>
           <td width="29">&nbsp;</td>
         </tr>
       </tbody></table>
     
       <p>Enquiry counter has been opened in Mutt Premises for convinces of devotees. Devotees from other places can contact below address for further details</p>
      <table width="750" border="1" align="center" cellpadding="1" cellspacing="0" bordercolor="#000000">
  <tbody><tr>
    <td width="375"><div align="center">mugalkhod OFFICE</div></td>
    <td width="375" bordercolor="#000000"><div align="center">JIDGA OFFICE</div></td>
  </tr>
  <tr>
    <td height="200" align="left"><p align="center">Sri Sri Yallalingeshwara Punnyashram, Mukthi Mandir Mutt,
      At Po. mugalkhod, Tq:Raibagh, Dist. Belgaum-591235.</p>
      <p align="center"> Contact persons:  
        Shrishail:9845893941 </p>
      <p>&nbsp;</p></td>
    <td><p align="center">Sri Sri Siddarameshwara Anubhava Ashram, 
      Nava Kallyana Mutt, Sukshetra Jidga,
      Tq. Aland, Dt. Gulbarga-585302.
      </p>
      <p align="center">Contact persons:
        Sharanayya Mathapathi:9900372162.
        Guru:9980032009 </p>
      <p>&nbsp;</p></td>
  </tr>
</tbody></table>
<p>&nbsp;</p>
      <table width="950" border="0" cellspacing="0" cellpadding="0">
         <tbody><tr>
           <td height="25" bgcolor="#999999"><div align="center"><strong><a name="pooja" id="pooja"></a>POOJA AND DARSHANA TIMINGS</strong></div></td>
         </tr>
       </tbody></table>
       <p>The  Mutt opens early morning at <strong>4 a.m.</strong> One experience an unforgettable  sense of sublime peace at the time of Brahmamuhurta/Gadduge Pooja. Usually mutt will remain open 24 Hrs a day.</p>
       <table width="600" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000">
         <tbody><tr>
           <td width="145" height="130"><div align="center"><strong><u>Morning </u></strong></div></td>
           <td width="152" height="130"><p align="center">4.00-4.30AM </p>
             <p align="center">7.00AM</p>
             <p align="center">6.00-8.30AM</p>
             <p>&nbsp;</p>
         </td>
           <td width="295" height="130"><p>Brahmamuhurta/Gadduge Pooja.</p>
           <p>Naivedya</p>
           <p>Maha Rudrabhishek/Mangalaruthi</p>
           <p>&nbsp;</p>
          </td>
         </tr>
         <tr>
           <td><div align="center"><strong><u>After-Noon</u></strong></div></td>
           <td><p align="center">1.00 PM</p>
           <p align="center">4.00 PM</p></td>
           <td><p>Naivedya</p>
           <p>Gadduge Pooja/Mangalaruthi</p></td>
         </tr>
         <tr>
           <td><p>&nbsp;</p>
             <p align="center"><strong><u>Evening </u></strong></p>
           <p>&nbsp;</p></td>
           <td><div align="center">6.30 PM</div></td>
           <td>Mangalaruthi Pooja</td>
         </tr>
         <tr>
           <td><div align="center"><u><strong>Night Pooja</strong></u></div></td>
           <td><p align="center">8.30 PM</p>
           <p align="center">9.30 PM</p></td>
           <td><p>Naivedya</p>
           <p>Mangalaruthi/Pooja</p></td>
         </tr>
       </tbody></table>
      <p>&nbsp;</p>
      <p></p><table width="950" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td height="25" bgcolor="#999999"><div align="center"><strong><a name="dasoha" id="dasoha"></a>DASOHA/PRASADAM</strong></div></td>
  </tr>
</tbody></table>
&nbsp;<p></p>
<p>Free  Prasadam or Dasoha will be available 24Hrs a day to all the Devotees who visits these mutts and many schools and colleges, hospitals, etc.</p>
<p><strong>If any Devotee wishes to offer Rs.21,000/- for this Annadana, Annadana will be conducted in his name at that time. Besides this, if any devotee wishes to contribute for this scheme irrespective of the amount, the mutt will issue the receipt of the same.  </strong></p>
<p>During the time of Amavassey, Hunnime, Jatha, Guru Vandana, Punnyaradhane, and Rathotsava(Car) festival time the devotees will be more and they will participate in this Annadana. These prasadam will be prepared in the Modern Kitchen facilities. 
  &nbsp;</p>
<table width="950" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td height="25" bgcolor="#999999"><div align="center"><strong><a name="post" id="post"></a>SEVA  REQUEST BY POST</strong></div></td>
  </tr>
</tbody></table>
<p>Devotees  who could not visit personally to Mutts can also perform Seva  at mugalkhod and Jidga. Such devotees are requested to download and fill up the SEVA FORMAT and send it  along with the Seva Kannikkai(amount) to &nbsp;the address mentioned on the SEVA FORMAT.The  Kannikkai(amount) can be paid by way of M.O. or Cheque or DD. For further details please download copy of the SEVA FORMAt.</p>
<p></p><table width="750" height="22" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td width="366"><ul>
      <li><a href="sevafmt_mug.doc">SEVA FORMAT FOR mugalkhod MUTT</a></li>
    </ul></td>
    <td width="384"><ul>
      <li><a href="sevafmt_jdg.doc">SEVA FORMAT FOR JIDGA MUTT</a></li>
    </ul></td>
  </tr>
</tbody></table>
&nbsp;<br>
<p></p>
<p>Sending Seva  Prasadam through post will incur an additional cost.<br>
Devotees can  get their Queries &nbsp;(related to Seva) clarified from the Enquiry Office. <em><strong>Kindly note the Mutt management has not appointed any agents or representative   except the Executive Officer and therefore please do not be misguided. All Correspondence to be made only with the executive Officer of respective Mutt as mentioned above.</strong></em><br>
<br>
</p>
</div>
			
		</div>
	</div>
</template>